.mystyle{
    border-style:solid;
    margin:20px;
    border-radius:15px;
    color:white;
}
h4 {
    display:inline;
}

header {
    border-radius:15px;
    min-height:100px;
    background-color:rgb(71, 71, 108);
    height:100px;
}