.mystyle{
    border-style:solid;
    margin:20px;
    border-radius:15px;
    color:white;
}
h4 {
    display:inline;
}

header {
    border-radius:15px;
    min-height:100px;
    background-color: #594670;
    height:100px;
}

h5 {

}
.daytitle {
    font-weight:bold;
}
.info {
    font-size:14px;
    font-weight:500
}
.this {
    border-style:solid;
}
.lol {
    background-color:rgb(145, 145, 145);
}